<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>魔方</title>
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
</head>

<body style="background: rgb(240,242,245);">
  <div id="root"></div>
</body>

</html>
