.classFiledList {
  .DownloadOutlined {
    margin-left: 16px;
  }
  .ant-pro-table-toolbar {
    height: 100px;
  }
  .ant-pro-table-toolbar-title {
    button {
      height: 40px;
      border-radius: 5px;
      margin-right: 15px;
    }
  }
  .ant-pro-table-toolbar-option {
    transform: translateY(-20px);
    .ant-select-selector {
      color: #1890ff;
    }
    .ant-select-arrow {
      display: none;
    }
    input {
      height: 20px;
      width: 280px;
    }
    .ant-space-item {
      span {
        border-radius: 5px;
      }
    }
  }
}

.classBreadcrumb {
  .ant-breadcrumb-link {
    font-size: 14px;
  }
}
