.mRed {
  color: #1b91ff;
}

.globalHeader {
  padding: 0 24px !important;
  background-color: #1b91ff !important;
}

.logoImg {
  width: 259px;
  height: 32px;
  margin-top: 17px;
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerUser {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-size: 15px;
}
