.processParams {
  width: 100%;
  background: #f0f2f5;
}

.form {
  margin: 0 24px;
  margin-bottom: 100px;
}

.name {
  display: inline-block;
  width: 100%;
  height: 56px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 56px;
  background: #fff;
}

.canshu {
  margin-left: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  margin-top: 56px;
  margin-right: 20px;
  background: #fff;
}

.button {
  float: right;
  margin: 12px 50px 0 0;
}

.back {
  margin-right: 10px;
}

.hr {
  width: 103%;
  height: 1px;
  margin: 24px 0 24px -21px;
  background: #d9d9d9;
}
