:global {
  .class-project-detail {
    width: 100%;
    height: 100%;
    background: #f0f2f5;

    .classProjectDetailInfor {
      .ant-page-header {
        padding: 0 24px;
      }

      .class-project-name {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
      }

      .class-project-describe {
        margin-bottom: 20px;
      }
    }

    .class-project-footer {
      width: 100%;
      height: 56px;
      margin-top: 24px;
      background: #fff;

      .class-project-button {
        float: right;
        margin-top: 12px;
        margin-right: 50px;
      }
    }
  }
}
