:global {
  .classProjectDetailInfor {
    width: 80%;
    height: 900px;
    margin: auto;

    .class-project-name {
      margin-top: 24px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    .class-project-describe {
      margin-bottom: 20px;
    }

    .class-project-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 56px;
      background: #fff;
    }

    .class-project-button {
      float: right;
      margin-top: -12px;
      margin-right: 150px;
    }
  }
}
