.projectDetail {
  width: 100%;
  height: 100%;
  background: #f0f2f5;
}

.detailInfor {
  padding: 0 24px;
}

.name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.describe {
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  height: 56px;
  margin-top: 24px;
  background: #fff;
}

.button {
  float: right;
  margin-top: 12px;
  margin-right: 50px;
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
